{% load static %}
<section class="nav-bar">
  <nav>

    <div class="container">
      <div class="logo-header">
        <img src="{% static 'img/honeycomb.png' %}" class="logo-img" alt="">
        <h2 class="logo"><a href="{% url 'hive' %}">Hive</a></h2>
      </div>
      <form method="get" action="{% url 'hive' %}">
        <div class="search-bar">
          <i class="uil uil-search"></i>
          <input type="search" name="q" placeholder="search here" autocomplete="off">
        </div>
      </form>
      <div class="create">
        <a href="{% url 'create-post' %}"><button class="btn btn-primary" for="create-post">Create</button></a>

        <div class="profile-picture">
          <a href="{% url 'user-profile' user.id %}">
            <img src="{{ user.avatar.url }}" alt=" avatar">
          </a>
        </div>

        <div class="dropdown">
          <button class="dropdown-btn">
            <i class="uil uil-ellipsis-v"></i>
          </button>
          <div class="dropdown-content">
            <a href="{% url 'logout' %}">Logout</a>
            <a href="#">Settings</a>
          </div>
        </div>

      </div>
    </div>
  </nav>
</section>