{% load static %}
<section class="nav-bar">
  <nav>
    <div class="container">
      <h2 class="logo"><a href="{% url 'hive' %}">Hive</a></h2>
      <div class="search-bar">
        <i class="uil uil-search"></i>
        <input type="search" name="q" placeholder="search here">
      </div>
      <div class="create">
        <a href="{% url 'create-post' %}"><button class="btn btn-primary" for="create-post">Create</button></a>
        <div class="profile-picture">
          <a href="{% url 'user-profile' user.id %}">
            <img src="{% static 'img/default.png' %}" alt="User Profile Img">
          </a>
        </div>
      </div>
    </div>
  </nav>
</section>