{% extends 'index.html' %}
{% block content %}



{% if page == 'login' %}
<div class="container-signup forms">
  <form action="" method="POST">
    {% csrf_token %}

    <label>UserName:</label>
    <input type="text" name="username" placeholder="Enter username" />

    <label>Password:</label>
    <input type="password" name="password" placeholder="Enter password" />

    <input type="submit" value="Login">

  </form>
  <p>Don't have an Account?</p>
  <a href="{% url 'register' %}">SignUp Now</a>
</div>

{% else %}
<div class="container-signup forms">
  <form action="" method="POST">
    {% csrf_token %}
    {{form.as_p}}

    <input type="submit" value="Register">

  </form>
  <p>Already have an Account?</p>
  <a href="{% url 'login' %}">Login Now</a>
</div>
{% endif %}

{% endblock %}