{% extends 'main.html' %}
{% block content %}
{% load static %}
<style>
  /* Post styles*/
  .post-container {
    display: grid;
    grid-template-columns: 3fr 1fr;
    margin-top: 10rem;
  }

  .post-image {
    width: 150%;
    height: auto;
    display: block;
  }

  .post-feed {
    width: 50%;
    height: 50vh;
    position: relative;
    left: 10%;
  }

  .caption {
    font-size: 1.2rem;
    font-weight: 500;
  }

  .comment-wrapper {
    margin-top: 1rem;
  }

  .comment-container {
    display: inline;
  }

  .comment-form {
    margin-top: 20px;
  }

  .comment-input {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
    resize: vertical;
  }

  .comment-input:focus {
    outline: none;
    border-color: #1DA1F2;
  }

  .dropbtn {
    background-color: #fff;
    color: #333;
    font-size: 16px;
    border: none;
    cursor: pointer;
    margin-left: 10px;
  }

  .dropbtn:hover {
    color: #f00;
  }

  .dropdown {
    position: relative;
    display: inline-block;
  }

  .dropdown-content {
    display: none;
    position: absolute;
    z-index: 1;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    padding: 12px 16px;
  }

  .dropdown-content a {
    color: #333;
    padding: 6px 0;
    text-decoration: none;
    display: block;
  }

  .dropdown-content a:hover {
    color: #f00;
  }

  .dropdown:hover .dropdown-content {
    display: block;
  }

  .comment-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .comment-header small {
    font-size: 12px;
    color: #999;
  }

  .comment-header .dropbtn {
    margin-right: 0;
  }

  .comment-header .dropdown {
    position: static;
  }

  .activity-div {
    background-color: #fff;
    padding: 20px;
    margin-right: 2rem;
    margin-top: 2rem;
    border-radius: 5px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  }

  .activity-title {
    margin-top: 0;
  }

  hr {
    border: none;
    border-top: 1px solid #ccc;
    margin: 10px 0;
  }

  .activity-user {
    color: #1DA1F2;
  }

  .activity-user:hover {
    text-decoration: underline;
  }

  .activity-body {
    margin: 10px 0;
  }
</style>

<div class="post-container">
  <div class="post-feed">
    <h3><a href="{% url 'user-profile' user.id %}">{{user.username}}</a></h3>
    <img class="post-image" src="{{ post.image.url }}" alt="">

    <p class="caption">{{post.description}}</p>

    <div class="comment-wrapper">
      <h3>Comments</h3>


      {% for message in post_messages %}
      <div class="comment-container">
        <div class="comment-header">
          <small><a href="{% url 'user-profile' message.user.id %}">{{message.user.username}}</a> {{message.created|timesince}} ago</small>
          <div class="dropdown">
            <button class="dropbtn"><i class="fas fa-ellipsis-v"></i></button>
            <div class="dropdown-content">
              {% if request.user == message.user %}
              <a href="{% url 'delete-message' message.id %}">Delete</a>
              {% endif %}
            </div>
          </div>
        </div>
        <p>{{message.body}}</p>
      </div>
      {% endfor %}


    </div>

    {% if request.user.is_authenticated %}
    <div class="comment-form">
      <form action="" method="POST">
        {% csrf_token %}
        <input class="comment-input" type="text" name="body" placeholder="write message here" />
      </form>
    </div>
    {% endif %}
  </div>

  <div class="activity-div">
    <h3 class="activity-title">Activity</h3>
    <hr>

    {% for user in participants %}
    <div>
      <a class="activity-user" href="{% url 'user-profile' user.id %}">{{user.name}}</a>
      <p class="activity-body">{{message.body}}</p>
    </div>

    {% endfor %}
  </div>
</div>



{% endblock %}